<div>
  <div>
    <h3>Verify your email</h3>
    <p>To authenticate, please use the following One Time Password (OTP):</p>
    <div style="font-size: 25px; font-weight: 600;">{{otp}}</div>
    <p>This OTP is valid for only 10 minutes. If you require any assistance,
      please contact our customer service email geniecart@gmail.com. Currently,
      we can take some time to respond as geniecart is in development phase. So
      please bear with us for that.</p>
    <p>Thankyou for using GenieCart! Hope you will find your best fit.</p>
  </div>
</div>