.teal{
    background-color: rgb(82, 153, 128) !important;
}

.textteal{
    color:  rgb(82, 153, 128) ;
}

.container{
    display: flex;
    margin-top: 5rem;
    justify-content:space-evenly;
}

.content{
    text-align: justify;
    text-justify: inter-word;
}

.spacetop{
    margin-top: 5rem;
}
